<footer class="container-fluid text-center bg-lightgray ">

  <div class="copyrights" style="margin-top:25px;">
  <p> 2017 © All Rights Fucked <br> Yurii K. 
      <a href="https://www.linkedin.com/" target="_blank">Linkedin<i class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
    </div>
  </footer>
